body {
    background-color: #151515;
    color: white;
    font-family: "Roboto", serif;
    font-weight: 500;
}
.sidebar {
    background-color: #151515;
    height: calc(100vh - 60px);
    padding-top: 40px;
    position: fixed;
    top: 60px;
    width: 200px;
    transition: transform 0.3s ease;
    z-index: 5;
}
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-left: 18px ;
    border-radius: 15px;
}
.sidebar a:hover {
    background-color: #2c2c2c;
}
.sidebar a.active {
    background-color: #d43b3b;
    color: white;
}
.header {
    background-color: #151515;
    padding: 20 50 30 30;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header .logo {
    font-family: "Sixtyfour Convergence", serif;
    color: #A91D3A;
    font-size: 30px;
}
.header .notif {
    font-size: 15px;
    margin-right: 30px;
}
.header .search-bar {
    display: flex;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 20px;
    padding: 5px 10px;
    width: 20em;
}
.header .search-bar input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    margin-left: 10px;
}
.header .user-info {
    display: flex;
    align-items: center;
}
.header .user-info i {
    margin-right: 10px;
}
.main-content {
    padding: 20px;
    margin-left: 200px;
    margin-top: 70px; /* Adjust this value based on the height of the header */
}
.carousel-inner {
    
}
.main-content .food span {
    margin-top: -5px;
    font-size: 27px;
}
.main-content .line {
    width: 100%;
    height: 1px;
    background-color: red;
    border: none;
}

.main-content .makanan .card {
    border: none;
    border-radius: 20px;
    color: white;
    width: 300px;
}
.main-content .makanan .card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content .makanan .card img {
    max-height: 100%;
}
.main-content .makanan .card-body .keterangan {
    width: 50%;
}
.main-content .makanan .card-body .button .btn {
    width: 100px;
    background-color: #FCBE07;
}
.main-content .makanan .carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}
.hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
@media (max-width: 992px) {
    .header {
        margin-left: -30px;
    }
    .header .logo {
        font-size: 25px;
    }
    .header .search-bar {
        width: 18em;
    }
}
@media (min-width: 768px) {
    .main-content .makanan .carousel-item {
      margin-right: 0;
      flex: 0 0 20%;
      display: block;
    }
    .main-content .makanan .carousel-inner {
      display: flex;
    }
  }
@media (max-width: 767px) {
    .header {
        margin-left: 0;
    }
    .sidebar {
        transform: translateX(-100%);
        top: 20px !important;
        height: 100vh;
    }
    .sidebar.active {
        transform: translateX(0);
    }
    .header {
        left: 0;
        padding: 10px;
    }
    .header h2 {
        display: none;
    }
    .header .notif {
        font-size: 10px;
    }
    .header .search-bar {
        padding: 5px;
        width: 200px !important;
    }
    .header .search-bar input {
        font-size: 0.875rem;
    }
    .header .user-info i {
        font-size: 1.5rem;
    }
    .header .user-info span {
        display: none;
    }
    .main-content {
        margin-left: 0;
        margin-top: 60px;
    }
    .main-content .makan {
        position: relative;
        left: 40%;
    }
    .main-content .makanan {
        width: 300px;
        position: relative;
        left: 27%;
    }
    .main-content .makanan .carousel-item .card {
        margin-left: 0 !important;
    }
    .main-content .makanan .carousel-control-next {
        overflow: hidden;
    }
    .hamburger-menu {
        display: block;
    }
    .sidebar a {
        margin: 10px 0 !important; /* Reduce margin for all links */
    }
    
}
@media (max-width: 568px) { 
    .main-content .makanan {
        left: 20%;
    }
}